{% extends 'base.html.twig' %}
{% block metadescription %}Embarquez avec Jason, en expédition à la recherche de la toison d'Or.{% endblock %}
{% block title %} Viyada | Les Argonautes{% endblock %}

{% block body %}
<!-- Header section -->
<header>
    <h1>
        <img src="https://www.wildcodeschool.com/assets/logo_main-e4f3f744c8e717f1b7df3858dce55a86c63d4766d5d9a7f454250145f097c2fe.png"
            alt="Wild Code School logo" />
        Les Argonautes
    </h1>
</header>

<div id="parallax-jason">
    <section>
        <div class="parallax-one">
            <p class="text-center whity"><strong>En l'an 515 avant JC, Jason se met à la recherche de la Toison d'Or. Il mène une expédition constituée d'Argonautes.</strong></p>
            <p class="line-break margin-top-10 whity mb-2"></p>
            <p class="text-center whity"><strong>Cette page, permet de voir la liste des membres prêts à partir et d'y en ajouter !</strong></p>
        </div>
    </section>
    <section>
        <div class="block">
            <h2 {{ react_component('MyComponent', { 'fullName': 'Jason !' }) }}></h2>
            <h2 class="mb-4">Ajoute un(e) Argonaute</h2>
            <div class="d-flex justify-content-center">
                {{ form(form) }}
            </div>
        </div>
    <section>
        <div class="parallax-two">
            <h2 class="whity mb-4">Membres de l'équipage</h2>
            <div class="row">
            <ul class="list-unstyled text-center whity mt-2" id="members_list">
                {% for member in members %}
                {% include 'home/member.html.twig' %}
                {% endfor %}
            </ul>
            </div>
        </div>
    </section>
</div>

<footer class="mt-0">
    <p>Réalisé par Jason en Anthestérion de l'an 515 avant JC</p>
</footer>
{% endblock %}